body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    min-width: 320px;
    line-height: 1.8;
    margin: 0;
    overflow-x: hidden
}
header{
    position: relative;
    height: 60px;
}
.top-line{
    max-width: 1200px;
    height: 100%;
    background-color: #ffffff;
    margin: -10px auto 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.logo{
    font-weight: bold;
    min-width: 200px;
    text-align: center;
}
.logo a{
    text-decoration: none;
    color: #563d7c;
}
.navigation{
    max-height: 60px;
}
.nav-item{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    flex-wrap: nowrap;
    margin: 0;
    height: 100%;
}
.nav-item li{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    height: 100%;
    list-style-type: none;
    text-align: center;
}
.nav-item .active{
    font-weight: 600;
}
.nav-item li:hover{
    background-color: #e8d2f4;
}
.nav-item a{
    text-decoration: none;
    color: #563d7c;
    font-size: 16px;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about{
    width: 100%;
    padding: 100px 0;
    margin: auto;
    color: #e1d1f9;
    background: linear-gradient(to top left, #876dad, #392852);
    display: flex;
    flex-direction: column;
}
.about span{
    display: block;
    text-align: center;
    border: 1px solid #e1d1f9;
    border-radius: 20%;
    max-width: 150px;
    max-height: 150px;
    font-size: 90px;
    margin: 0 auto;
}
.about p{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 30px 0;
    height: auto;
    max-width: 900px;
    text-align: center;
    font-size: 25px;
    line-height: 1.8;
}
.button {
    display: inline-block;
    color: #392852;
    text-decoration: none;
    border: 2px solid #ffffff;
    padding: 15px 45px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    outline: none;
    margin: 0 auto;
}
.button:hover{
    background-color: #e8d2f4;
    border: #e8d2f4;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #392852;
}
.content-col{
    min-height: 400px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding: 15px;
    margin: 0 30px;
}
.content-col p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    font-size: 18px;
}
footer{
    width:100%;
    display: flex;
    flex-direction: column;
    background-color: #DADAD8;
}
.footer-block{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.footer-block ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    margin-bottom: 0;
}
.footer-block li{
    min-width: 100px;
    list-style-type: none;
}
.footer-block a{
    text-decoration: none;
    color: #000000;
    opacity: 0.8;
}
.footer-block p{
    min-width: 320px;
    color: #000000;
    opacity: 0.6;

}

@media only screen and (max-width : 1200px){
    .nav-item li{
        width: 85px;
    }
    .about p{
        font-size: 23px;
    }
}
@media only screen and (max-width : 1024px){
    .nav-item li{
        width: 80px;
    }

    .content{
        flex-direction: column;
    }
}
@media only screen and (max-width : 992px){
    .nav-item li{
        width: 75px;
        font-size: 14px;
    }

}
@media only screen and (max-width : 700px){

}
@media only screen and (max-width : 480px){

}
@media only screen and (max-width : 320px){

}