body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    min-width: 320px;
    line-height: 1.8;
    margin: 0;
    overflow-x: hidden
}
header{
    position: relative;
    height: 70px;
}
.menu-mobile{
    display: none;
}

.hamburger{
    position: absolute;
    left: 0;
    top: 10px;
}
.mm-panels>.mm-panel.mm-hasnavbar{
    padding-top: 80px;
}
.mm-menu.mm-offcanvas{
    width: 35%;
}
.mm-panels>.mm-panel{
    padding: 0 0 0 25px;
}

.top-line{
    max-width: 1200px;
    height: 100%;
    background-color: #ffffff;
    margin: -10px auto 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.logo{
    font-weight: bold;
    min-width: 180px;
    text-align: center;
}
.logo a{
    text-decoration: none;
    color: #563d7c;
}
.navigation{
    max-width: 1200px;
    max-height: 100%;
}
.nav-item{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    height: 100%;
}
.nav-item li{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90px;
    min-height: 70px;
    list-style-type: none;
}
.nav-item .active{
    font-weight: 600;
}
.nav-item li:hover{
    background-color: #e8d2f4;
}
.nav-item a{
    text-decoration: none;
    color: #563d7c;
    font-size: 16px;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about{
    width: 100%;
    padding: 100px 0;
    margin: auto;
    color: #e1d1f9;
    background: linear-gradient(to top left, #9c74f2, #2d1651);
    display: flex;
    flex-direction: column;
}
.about span{
    display: block;
    text-align: center;
    border: 1px solid #e1d1f9;
    border-radius: 20%;
    width: 150px;
    height: 150px;
    font-size: 90px;
    margin: 0 auto;
}
.about p{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 30px;
    height: auto;
    max-width: 900px;
    text-align: center;
    font-size: 25px;
}
.button {
    display: inline-block;
    color: #392852;
    text-decoration: none;
    border: 2px solid #ffffff;
    padding: 15px 45px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 20px;
    text-align: center;
    outline: none;
    margin: 0 auto;
}
.button:hover{
    background-color: #e8d2f4;
    border: #e8d2f4;
}
.content{
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #392852;
}
.content-col{
    min-height: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding: 50px 0;
    margin: 0 30px;
}
.content-col p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    font-size: 18px;
}

footer{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DADAD8;
}
.footer-block{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 20px;
}
.footer-block ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    margin-bottom: 0;
}
.footer-block li{
    min-width: 80px;
    list-style-type: none;
}
.footer-block a{
    text-decoration: none;
    color: #000000;
    opacity: 0.8;
}
.footer-block p{
    min-width: 320px;
    color: #000000;
    opacity: 0.6;
}

@media only screen and (max-width : 1200px){
    .menu-mobile{
        display: none;
    }
}
@media only screen and (max-width : 1024px){
    .nav-item li{
        min-width: 80px;
    }
    .content {
        flex-direction: column;
    }
    .content-col{
        max-width: 700px;
        padding: 20px 10px;
    }
}
@media only screen and (max-width : 992px){
    .nav-item li{
        min-width: 75px;
    }
    .logo{
        min-width: 170px;
    }
    .about{
        padding: 70px 0;
    }
}
@media only screen and (max-width : 860px){
    .navigation{
        visibility: hidden;
    }
    .logo{
        margin-left: 100px;
    }
    .menu-mobile{
        display: flex;
    }
    .footer-block{
        align-items: center;
    }
}
@media only screen and (max-width : 700px){
    .about{
        padding: 60px 0;
    }
    .about span{
        width: 120px;
        height: 120px;
        font-size: 70px;
    }
    .about p{
        font-size: 20px;
        line-height: 1.6;
    }
    .button{
        padding: 10px 40px;
        font-size: 15px;
    }
}
@media only screen and (max-width : 480px){
    .about{
        padding: 50px 0;
    }
    .about span{
        width: 100px;
        height: 100px;
        font-size: 60px;
    }
    .about p{
        font-size: 18px;
        line-height: 1.4;
    }
    .button{
        padding: 8px 35px;
        font-size: 12px;
    }
    .content-col p{
        font-size: 15px;
        line-height: 1.6;
    }
    .footer-block{
        font-size: 15px;
    }
}
@media only screen and (max-width : 320px){

}